
{% extends  "__layout.twig" %}

{% block content %}

<h1>{{title}}</h1>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link  {{ type == 'картинка' ? 'active' }}" href="/{{name}}/image">Картинка</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link {{ type == 'текст' ? 'active' }}" href="/{{name}}/info">Описание</a>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    
{% block objectContent %}
<p>Выберите раздел выше</p>
{% endblock %}
</li>
</ul>
{% endblock %}
